.calc_container {
    background-color: #e5d9f0;
    margin: 5px;
    padding: 10px 15px;
    flex: 1;
}

.calc_title {
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #faf6f0;
}

.block_output {
    width: 100%;
    padding: 10px 0px;
}

.output_element {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.output_title {
    text-align: center;
}

.output_zone {
    margin-left: 5px;
}

.graph_canvas {
    background-color: white;
    width: 100%;
}

.block_input {
    width: 100%;
    padding: 10px 0 0 0;
}

.input_element {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.input_title {
    width: 80%;
    text-align: center;
}

.input_input {
    width: 20%;
    padding: 2px 4px 0px 4px;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    transition: all .3s ease-out;
}

.input_input:focus {
    outline: 0;
    border-bottom: 1px solid #c3a4e0;
}
